.container {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.intro {
  text-align: center;
  margin: 2%;
}

.profile-picture {
  width: 300px;
  border-radius: 50%;
}

.about-me {
  text-align: center;  
  border: solid gray;
  border-width: 2px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.about-me-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 2%;
}

.about-me p {
  margin: 2%;
}

.i-am {
}

.i-am ul {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.i-enjoy {
}

.i-enjoy ul {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.i-plan {
}

.i-plan ul {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.my-projects {
  text-align: center;
  border: solid gray;
  border width: 2px;
  box-sizing: border-box;
}

.my-projects ol {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.project-1 {
  margin: 2%;
}

.project-2 {
  margin: 2%;
}

.project-3 {
  margin: 2%;
}

.main, .sidebar {
  padding: 15px;
}

.main {
  width: 75%;
}

.sidebar {
  width: 15%;
  height: 50vh;
  position: sticky;
  top: 0;
  border: solid gray;
  border width: 2px;
  box-sizing: border-box;
  margin: 2%;
}