@font-face {
  font-family: "Simplifica";
  src: url("fonts/SIMPLIFICA-typeface.ttf");
}

.container {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.intro {
  text-align: center;
  margin: 2%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.profile-picture {
  width: 300px;
  border-radius: 50%;
  border: solid #F4F4F2;
  border-width: 4px; 
  padding: 4px;
  float: left;
}

.name {
  text-shadow: 2px 2px #BBBFCA;
}

.about-me {
  text-align: center;  
  box-sizing: border-box;
  margin-bottom: 5px;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 2%;
}

.about-me p {
  margin: 2%
}

.place {
  color: #BBBFCA;
  font-weight: bol;
}

.i-am p {
  margin-top: -14px;
}

.i-plan ul {
  display: inline-block;
  text-align: left;
  margin-top: -14px;
}

.my-projects {
  text-align: center;
  padding: 2%;
  background-color: #BBBFCA;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 20%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.my-projects ol {
  display: inline-block;
  text-align: left;
  margin-top: -14px;
}

.my-projects ul {
  display: inline-block;
  text-align: left;
  margin-top: -14px;
}

.project-1 {
  margin: 2%;
  border: solid #495464;
  border-width: 2px;
  border-radius: 25px;
}

.project-2 {
  margin: 2%;
  border: solid #495464;
  border-width: 2px;
  border-radius: 25px;
}

.project-3 {
  margin: 2%;
  border: solid #495464;
  border-width: 2px;
  border-radius: 25px;
}

.contact {
  text-align: center;
  margin-left: 20%;
  margin-top: 25px;
  border: solid #BBBFCA;
  border-width: 2px;
  border-radius: 25px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main, .sidebar {
  padding: 15px;
}

.main {
  width: 75%;
}

.sidebar {
  position: sticky;
  width: 15%;
  height: 450px;
  min-width: 100px;
  top: 0;
  border: solid #F4F4F2;
  background-color: #BBBFCA;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 2%;
  text-align: center;
}

body {
  font-family: "Simplifica";
  background-color: #495464;
  color: #F4F4F2;
}

h1 {
  font-size: 65px;
  color: #F4F4F2;
}

h2 {
  font-size: 45px;
  color: #F4F4F2; 
}

h3 {
  font-size: 28px;
  color: #F4F4F2; 
}

h4 {
  font-size: 25px;
  color: #F4F4F2; 
}

p {
  font-size: 22px;
  color: #E8E8E8;
}

ol {
  font-size: 22px;
}

ul {
  font-size: 22px;
}

a {
 color: #F4F4F2;
}

a:hover {
  color: #D4AF37; 
}